{% extends 'View/menu.html.twig' %}
{% block form %}
    {{ form_start(form) }}

    <table style="text-align: center; margin-left: auto; margin-right: auto">
        <tr>
            <td>{{ form_label(form.name) }}</td>
            <td>{{ form_widget(form.name) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.category) }}</td>
            <td>{{ form_widget(form.category) }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ form_row(form.submit) }}</td>
        </tr>
    </table>

    {{ form_end(form) }}

{% endblock %}